<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>departmentsServlet</servlet-name>
        <servlet-class>app.servlets.DepartmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>departmentsServlet</servlet-name>
        <url-pattern>/departments/*</url-pattern>
    </servlet-mapping>

    <!-- Emplist servlet -->
    <servlet>
        <servlet-name>employeesServlet</servlet-name>
        <servlet-class>app.servlets.EmployeesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>employeesServlet</servlet-name>
        <url-pattern>/employees/*</url-pattern>
    </servlet-mapping>
</web-app>
