<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--  add servlet -->
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>app.servlets.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!--  empadd servlet -->
    <servlet>
        <servlet-name>empadd</servlet-name>
        <servlet-class>app.servlets.EmpaddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>empadd</servlet-name>
        <url-pattern>/empadd</url-pattern>
    </servlet-mapping>

    <!-- list servlet -->
    <servlet>
        <servlet-name>departmentsServlet</servlet-name>
        <servlet-class>app.servlets.DepartmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>departmentsServlet</servlet-name>
        <url-pattern>/departments/*</url-pattern>
    </servlet-mapping>

    <!-- emplist servlet -->
    <servlet>
        <servlet-name>emplist</servlet-name>
        <servlet-class>app.servlets.EmplistServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>emplist</servlet-name>
        <url-pattern>/emplist</url-pattern>
    </servlet-mapping>

    <!-- edit servlet -->
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>app.servlets.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <!-- empedit servlet -->
    <servlet>
        <servlet-name>empedit</servlet-name>
        <servlet-class>app.servlets.EmpeditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>empedit</servlet-name>
        <url-pattern>/empedit</url-pattern>
    </servlet-mapping>

</web-app>
